body { 
    background: url(imgs/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 150%;
    background-position: top;
}
#mainContainer{
    width: 85%;
    margin: 65% auto auto auto;
}
.headerPic{
    width: 100%;
    margin: auto;
    display:block;
    margin: auto;
}
#headerLogo{
    width: 60%;
    margin: 25px auto 0px auto;
}
#AEHeader{
    font-family: 'Marck Script', cursive;
    color: #01BAEF;
}
.collapsible{
    border: none
}
.collapsible-header{
    height: 55px;
    background-size: cover !important;
    background-repeat: round !important;
    border: none;
    border-radius: 15px;
    margin: -10px auto
}
.collapsible-header:hover{
    -webkit-box-shadow: inset 0px 0px 80px 25px rgba(148,40,88,0.2);
    -moz-box-shadow: inset 0px 0px 80px 25px rgba(148,40,88,0.2);
    box-shadow: inset 0px 0px 80px 25px rgba(148,40,88,0.2);
}
.collapsible-body{
    padding: 0px;
    border: none
}
.rainbowBody{
    background: gray;
    width: 90%;
    margin: auto auto 15px auto;
    padding: 5px;
    text-align: center;
    text-decoration: underline white;
    font-family: 'Lora', serif;
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.69);
}
.linkText{
    color: white;

    text-decoration: underline white;
}
.linkText:hover{
    color: purple
}
.linkImg{
    border-radius: 15px;
}
.linkImg:hover{
    -webkit-box-shadow: inset 0px 0px 37px 12px rgba(87,157,153,0.5);
    -moz-box-shadow: inset 0px 0px 37px 12px rgba(87,157,153,0.5);
    box-shadow: inset 0px 0px 37px 12px rgba(87,157,153,0.5);
}
#bioHeader{
    background: url(imgs/buttons/button\ 1\ -\ biography.png)
}
#showsHeader{
    background: url(imgs/buttons/button\ 2\ -\ tourdates.png)
}
#newsHeader{
    background: url(imgs/buttons/button\ 3\ -\ news.png)
}
#discographyHeader{
    background: url(imgs/buttons/button\ 4\ -\ discography.png)
}
#videosHeader{
    background: url(imgs/buttons/button\ 5\ -\ video.png)
}
#merchHeader{
    background: url(imgs/buttons/button\ 6\ -\ merchandise.png)
}
#followHeader{
    background: url(imgs/buttons/button\ 7\ -\ follow.png)
}
#flubClubHeader{
    background: url(imgs/buttons/button\ 8\ -\ flubclub.png)
}
#contactHeader{
    background: url(imgs/buttons/button\ 9\ -\ contact.png)
}
.collection-item{
    background: gray !important;
    height: 70px;
    font-size: 40px
}
.albumCover{
    width: 100%
}

@media only screen and ( min-width: 545px ) {
    body{
    background-size: cover;
    background-attachment: scroll;
    }
    #mainContainer{
    width: 40%;
    margin: 40% auto auto auto
    }
}