body { 
    background: url(imgs/FLUB_no_logo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.95
}
#mainContainer{
    width: 85%;
    margin: 20px auto;
    background: gray;
    text-align: center;
    border: 2px outset black;
    border-radius: 15px;
    padding: 10px;
}
.headerPic{
    width: 100%;
    margin: auto;
    display:block;
    margin: auto;
}
#headerLogo{
    width: 60%;
    margin: 25px auto 0px auto;
}
#AEHeader{
    font-family: 'Marck Script', cursive;
    color: #01BAEF;
}
.collapsible-header{
    background: gray;
    text-align: center;
    font-size: 25px;
    color: black
}
.collapsibleHeadText{
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
}
.collapsible_icon{
    margin: auto 30px;
}
#bio{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    line-height: 25px;
    padding: 5px
}
#members{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    line-height: 20px;
    padding: 5px
}
.collection-item{
    background: gray !important;
    height: 70px;
    font-size: 40px
}
#sponsorContainer{
    width: 85%;
    margin: 20px auto;
    padding: 5px;
    background: gray;
    border: 2px outset black;
    border-radius: 15px;
    text-align: center;
}
#broughtBy{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px
}

@media only screen and ( min-width: 545px ) {
    #mainContainer, #sponsorContainer{
        width: 45%
    }
}