html { 
    background: url(imgs/FLUB_no_logo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/* .bg{
    background: url("./imgs/FLUB_no_logo.jpg") no-repeat; 
    background-size: cover;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
} */
#mainContainer{
    width: 85%;
    margin: 20px auto;
    background: gray;
    border: 2px outset black;
    text-align: center;
    padding: 5px
}
#sponsorContainer{
    width: 85%;
    margin: 20px auto;
    background: gray;
    border: 2px outset black;
    text-align: center
}
.headerPic{
    width: 100%;
    margin: auto;
    display:block;
    margin: auto;
}
#flubHeader{
    color: #8FC93A;
    font-family: 'Audiowide', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 60px;
}
#AEHeader{
    font-family: 'Marck Script', cursive;
    color: #01BAEF;
}
.collapsible-header{
    background: gray;
    text-align: center;
    font-size: 25px;
    color: black
}
.collapsible_icon{
    margin: 5px 30px;
}
#bio{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    line-height: 25px;
    padding: 5px
}
#members{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    line-height: 20px;
    padding: 5px
}
.collection-item{
    background: gray !important;
    height: 70px;
    font-size: 40px
}